.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 380px; */
  min-width: 315px;
  width: 80vw;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

/* @media screen and (max-width: 481px) {
  .modal {
    width: 315px;
  }
} */

.header {
  text-align: right;
}
.title {
  display: flex;
  justify-content: center;
}
.closeBtn {
  padding: 10px 12px 0;
  font-size: 38px;
  line-height: 0.6;
  color: #52555f;
  border: none;

  background: none;
  cursor: pointer;
}

.content {
  padding: 0 32px 32px;
}

.lead {
  margin-bottom: 16px;
  text-align: center;
}

.imageWrapper {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
