.SumCategoryInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.SCItitle {
  display: flex;
  justify-content: center;
  width: 100px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: var(--black);
}
.iconSCI {
  cursor: pointer;
}
.sectionSCI {
  margin-bottom: 35px;
}
@media screen and (min-width: 481px) {
  .sectionSCI {
    margin-bottom: 30px;
    padding: 20px 44px 10px 44px;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
    background: var(--white);
  }
}

@media screen and (min-width: 768px) {
  .sectionSCI {
    width: 100%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .sectionSCI {
    width: 1060px;
    margin: 0 auto;
  }
}
