.SumCategoryInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
}
.SCItitle {
  display: flex;
  justify-content: center;
  width: 100px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  text-transform: uppercase;

  color: #000000;
}
.iconSCI {
  cursor: pointer;
}

@media screen and (min-width: 480px) {
  .sectionSCI {
    padding: 20px 44px 30px 44px;
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 20px;
    background: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .sectionSCI {
    width: 100%;
  }
}
