.wrapper {
  padding: 86px 88px 50px 49px;
}

.logo {
  width: 183px;
  height: 47px;
  background-image: url(../../images/union.png);
}

.text {
  padding-top: 5px;
  padding-left: 11px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #52555f;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 90px 290px 50px 171px;
  }

  .logo {
    width: 307px;
    height: 78px;
    background-image: url(../../images/union-tablet.png);
  }

  .text {
    padding-left: 55px;

    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.18em;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    display: flex;
    padding: 117px 110px 142px 230px;
  }

  .wrapper {
    padding: 147px 127px 240px 0;
  }

  .logo {
    width: 377px;
    height: 120px;
    background-image: url(../../images/union-desktop.png);
  }

  .text {
    padding-left: 65px;
  }
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
