@media screen and (max-width: 480px) {
  .categoryItem {
    flex-basis: 100px;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .categoryItem {
    flex-basis: 80px;
    text-align: center;
    cursor: pointer;
  }
}
.categoryList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.categoryPrice {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
}
.categoryListEmpty {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: #52555f;
}
@media screen and (max-width: 480px) {
  .categoryItem {
    flex-basis: 95px;
  }
}
@media screen and (min-width: 480px) {
  .categoryItem {
    flex-basis: 84px;
  }
}
@media screen and (min-width: 768px) {
  .categoryItem {
    flex-basis: 79px;
  }
}
@media screen and (min-width: 1280px) {
  .categoryItem {
    flex-basis: 100px;
  }
  .categoryList {
    padding: 0 135px;
  }
}
.categoryItem {
  text-align: center;
  cursor: pointer;
}

.categoryIcon {
  width: 56px;
  height: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}
.buttonCategoryIcon::before {
  content: '';
  width: 70px;
  height: 60px;
  position: absolute;
  top: 5px;
  left: -6px;
  border-radius: 30px;
  background-color: #f5f6fb;
}
.buttonCategoryIcon:hover:before,
.buttonCategoryIcon:focus:before {
  background-color: #ffdac0;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonCategoryIcon:focus,
.buttonCategoryIcon:hover {
  fill: #ff751d;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonCategoryIcon {
  position: relative;
  background-color: #fff;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
