.categoryList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.categoryListEmpty {
  margin-bottom: 20px;
}
.categoryItem {
  flex-basis: 84px;
  text-align: center;
  cursor: pointer;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.categoryItem:focus,
.categoryItem:hover {
  fill: #ff751d;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.categoryPrice {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #52555f;
}
.categoryIcon {
  width: 56px;
  height: 56px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn {
  background: transparent;
}
