.input {
  height: 44px;
  border: 2px solid #f5f6fb;
  box-sizing: border-box;
  text-align: center;
}
.formEnter {
  position: relative;
  padding: 5px;
  width: 100%;
}

@media screen and (max-width: 481px) {
  /* .formEnter {
    height: 300px;
  } */

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inputDiscr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .inputDiscr_items {
    width: 282px;
  }

  .left_input {
    border-radius: 16px 16px 0px 0px;
    border-bottom: none;
  }

  .right_input {
    width: 180px;
    border-radius: 16px 16px 16px 16px;
  }
  .input_icon {
    /* display: flex; */
    margin-bottom: 83px;
  }
  .icon {
    margin-left: -28px;
  }
  .btn_form {
    width: 70px;
    height: 70px;
  }
  .header {
    display: flex;
    bottom: 0px;
  }
  .active {
    background-color: #ff751d;
  }

  .link {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: calc(14 / 12);
    display: flex;
    justify-content: center;

    align-items: center;

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 50%;
    height: 40px;
    background: #f5f6fb;
    border: 1px solid #fff;
  }
}

@media screen and (min-width: 481px) {
  .form {
    flex-wrap: wrap;
  }

  .form_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 604px;
  }

  .left_input {
    border-radius: 16px 0px 0px 0px;
  }

  .input_icon {
    border-radius: 0px 16px 16px 0px;
    -moz-appearance: textfield;
  }

  .icon {
    margin-left: -28px;
    margin-right: 55px;
  }
  .wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .inputDiscr {
    display: flex;
  }
  .renderTab {
    margin-top: 39px;
  }
}

@media screen and (min-width: 768px) {
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .renderTab {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 59px;
  }
  .formEnter {
    padding: 5px;
    background-color: #fff;
    border-radius: 0px 30px 30px 30px;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  }
}

@media screen and (min-width: 1280px) {
  .wrap {
    margin-top: 0px;
  }
}

.right_input::-webkit-inner-spin-button {
  display: none;
}

.input_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.inform {
  display: flex;
  align-items: center;
  text-align: center;
  text-align: center;

  width: 230px;
  height: 38px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(14 / 12);

  letter-spacing: 0.02em;
  text-transform: uppercase;

  border-radius: 20px 20px 0px 0px;
  background: #f5f6fb;
  border: 2px solid #ffffff;
} */

.btn {
  margin-top: 0;
  margin-right: 15px;
}
.btnClean {
  margin-top: 0;
  background-color: #ffff;
  border: 2px solid #f5f6fb;
  color: #52555f;
}
.btnClean:hover {
  background-color: rgb(20, 167, 167);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.datestyle {
  text-align: center;
  background-color: transparent;
  border: none;
}
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  margin-right: -20px;
}

.plus_btn {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px auto;
}
.expense {
  color: rgb(156, 26, 26);
}
