.line {
  width: 280px;
  display: flex;
  margin: 20px auto 30px;
  border: 1px solid #e0e5eb;
}
.pap {
  width: 283px;
  height: 510px;
}
.chart {
  width: 270px;
}
.wrap {
  display: none;
}
.wrapMob {
  width: 280px;
  height: 508px;
}
@media screen and (min-width: 768px) {
  .wrap {
    display: unset;
  }
  .wrapMob {
    display: none;
  }
  .pap {
    width: 666px;
    height: 422px;
    margin: 20px auto;
    padding: 50px 30px 45px;
    border-radius: 30px;
  }
  .chart {
    width: 625px;
    height: 328px;
    margin: 0 auto;
  }
  .line {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .pap {
    width: 1060px;
    height: 422px;
    margin: 20px auto;
    padding: 20px 0;
  }
  .chart {
    width: 758px;
    margin: 45px auto;
  }
}
