.rechartsresponsivecontainer {
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;
  height: 80px;
  margin: 0 auto;
  height: 422px;
}
@media screen and (max-width: 767px) {
  .container {
    min-height: 422px;
    padding-bottom: 10px;
  }
}
.noData {
  padding-top: 10px;
  text-align: center;
}
.pap {
  width: 282px;
}
.chart {
  width: 270px;
  /* height: 422px; */
}
@media screen and (min-width: 768px) {
  .pap {
    width: 666px;
    margin: 20px auto;
    padding: 50px 30px 45px;
  }
  .chart {
    width: 605px;
    height: 328px;
  }
}
@media screen and (min-width: 1280px) {
  .pap {
    width: 1060px;
    margin: 20px auto;
    padding: 20px 0;
  }
  .chart {
    width: 758px;
    height: 422px;
    margin: 0 auto;
  }
}
