.tab {
  margin-right: 20px;
  background: #f5f6fb;
  width: 124px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(14 / 12);

  align-items: center;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.table23 {
  border-radius: 20px 20px 0px 0px;
  border: 2px solid #f5f6fb;
  margin: 0 auto;
  min-height: 282px;
  background-color: #fff;
}

@media screen and (max-width: 480px) {
  .table23 {
    margin-bottom: 10px;
  }

  .mobTable {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media screen and (min-width: 481px) {
  .table23 {
    margin-bottom: 20px;
  }
  .string {
    border-bottom: 2px solid #f5f6fb;
    height: 40px;
  }
  .green {
    color: #407946;
  }
}

@media screen and (min-width: 768px) {
  /* .table23 {
    min-width: 760px;
    max-width: 761px;
  } */
}

.right_tab {
  border-radius: 0px 16px 0px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.left_tab {
  border-radius: 16px 0px 0px 0px;
}

.btn_table {
  width: 15px;
  height: 18px;
  border-radius: 50%;
  background-color: #f5f6fb;
}
.field {
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-align: center;
  letter-spacing: 0.04em;
  height: 40px;
}
.emptyLine {
  height: 40px;
  border-bottom: 2px solid #f5f6fb;
}

html,
body {
  scrollbar-color: tomato #f0ac7b3b; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 7px; /* высота для горизонтального скролла */
  background-color: #f0ac7b3b;
}

.emptyLine {
  height: 40px;
  border-bottom: 2px solid #f5f6fb;
}
.body {
  background-color: #ffff;
}
.expense {
  border-bottom: 2px solid #f5f6fb;
  height: 40px;
  color: red;
}
