.tableCashFlow {
  width: 100%;
  min-height: 190px;

  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  border-radius: 20px 20px 0px 0px;
  background-color: #fff;
}

/* .tableHead {
  width: 100%;
} */

.tableBody {
  height: 160px;
  overflow-y: scroll;
  border-collapse: collapse;
  background-color: #ffff;
}

.tableBody::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
.field {
  display: inline-table;
  width: 100%;
  height: 40px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-align: center;
  letter-spacing: 0.04em;

  border-bottom: 2px solid #f5f6fb;
}

.string {
  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;

  color: #52555f;
  width: 110px;
}
.emptyLine {
  width: 115px;
}

.green {
  color: #407946;
}
.expense {
  height: 40px;

  font-family: Roboto;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.04em;
  color: var(--error);
}
@media screen and (max-width: 480px) {
  .tableCashFlow {
    margin-bottom: 10px;
  }

  .mobTable {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

@media screen and (min-width: 481px) {
  .tableCashFlow {
    width: 500px;
    margin-bottom: 20px;
    border: 2px solid #f5f6fb;
  }

  .tab {
    margin-right: 20px;
    width: 124px;
    height: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: calc(14 / 12);

    align-items: center;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    background: #f5f6fb;
  }

  .tableBody {
    height: 286px;
  }
  .tableBody::-webkit-scrollbar {
    width: 5px;
    height: 7px;
    background-color: #f5f6fb;
  }
  .tableBody::-webkit-scrollbar-thumb {
    background-color: #ff751d;
    border-radius: 50px;
  }
  .string {
    height: 40px;
    width: 100px;

    font-weight: normal;
    color: #52555f;
    border-bottom: 2px solid #f5f6fb;
  }

  .emptyLine {
    width: 105px;
    height: 40px;
    border-bottom: 2px solid #f5f6fb;
  }
}

@media screen and (min-width: 768px) {
  .tableCashFlow {
    width: 605px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #f5f6fb;
  }
  /* .tableHead {
    width: 100%;
  } */
  .tableBody {
    height: 363px;
  }

  .string {
    width: 115px;
  }
  .emptyLine {
    width: 120px;
  }
}

.right_tab {
  border-radius: 0px 16px 0px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.left_tab {
  border-radius: 16px 0px 0px 0px;
}

.btn_table {
  width: 15px;
  height: 18px;
  border-radius: 50%;
  background-color: #f5f6fb;
}

html,
body {
  scrollbar-color: tomato #f0ac7b3b; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}
