.tab {
  margin-right: 20px;
  background: #f5f6fb;
  width: 124px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: calc(14 / 12);

  align-items: center;

  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.right_tab {
  border-radius: 0px 16px 0px 0px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.left_tab {
  border-radius: 16px 0px 0px 0px;
}

.table23 {
  border-radius: 20px 20px 0px 0px;
  border-spacing: 0px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  border: 2px solid #f5f6fb;
  width: 124px;
  table-layout: fixed;
}
.string {
  border-bottom: 2px solid #f5f6fb;
}
.btn_table {
  width: 15px;
  height: 18px;
  border-radius: 50%;
  background-color: #f5f6fb;
}
.field {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);

  text-align: center;
  letter-spacing: 0.04em;
  height: 40px;
}
.emptyLine {
  height: 40px;
  border-bottom: 2px solid #f5f6fb;
}

html,
body {
  scrollbar-color: tomato #f0ac7b3b; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin; /* толщина */
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 7px; /* высота для горизонтального скролла */
  background-color: #f0ac7b3b;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 50px;
  box-shadow: inset 1px 1px 5px #f7f3fa;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #cf4e03;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #e69a642c;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: tomato;
  border-radius: 50px;
  box-shadow: inset 1px 1px 4px #f7f3fa;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c24a05;
}
.scrollbar {
  max-width: 100%;
  height: 40px;
  overflow: auto;
}

/* .scrollbar {
  ::-webkit-scrollbar {
    width: 4px;
    height: 5px;
    background-color: #e69a642c;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accent-color);
    border-radius: 50px;
    box-shadow: inset 1px 1px 4px #f7f3fa;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #c24a05;
  }
} */
