.button {
  color: var(--white);
  background-color: var(--accent);
  border-radius: 16px;
  border: none;
  width: 125px;
  height: 44px;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.button:hover {
  color: var(--white);
  background-color: rgb(20, 167, 167);
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(1.2);
  text-transform: uppercase;
}
