.button {
  background: #ff751d;
  border-radius: 16px;
  border: none;
  width: 125px;
  height: 44px;
  margin-top: 20px;
  display: flex;
  /* margin-left: auto; */
  margin-right: 15px;
  align-items: center;
  justify-content: center;

  /* box-shadow: 0 0 15px 7px rgba(34, 60, 80, 0.2); */
}
.button:hover {
  background-color: purple;
  transition: box-shadow 0.5s, transform 0.5s;
  transform: scale(1.2);
  color: white;
  text-transform: uppercase;
}
