.balance_container {
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 30px;

  /* padding-left: 19px;
  padding-right: 19px; */
  /* margin-bottom: 21px; */
  /* background-color: #8ce783; */
  /* outline: brown solid 1px; */
}

@media screen and (min-width: 768px) {
  .balance_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 30px;
    max-width: 716px;
  }
}

/* @media screen and (min-width: 768px) {
  .balance_container {
    max-width: 716px;
    padding-left: 80px;
    padding-right: 30px;
  }
} */

@media screen and (min-width: 1280px) {
  .balance_container {
    max-width: 1228px;
  }
}
