.balance_form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .balance_form {
    display: flex;
    align-items: center; 
    flex-direction: column;
} */

.balance_input {
  color: #000000;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 25px 12px 10px;
  width: 125px;
  height: 44px;
  border: 2px solid rgba(255, 255, 255, 1);

  background-color: transparent;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
}

.balance_input::-webkit-inner-spin-button {
  display: none;
}

.balance_button {
  display: inline-block;
  color: #52555fb2;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 6px 12px 6px;
  margin-left: 0px;

  border: 2px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  width: 125px;
  letter-spacing: 0.02em;
  cursor: pointer;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
}

.balance_form_wrapper p {
  margin-bottom: 6px;
}

@media screen and (max-width: 480px) {
  .balance_button {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (max-width: 767px) {
  .balance_form_wrapper p {
    margin-bottom: 6px;
  }

  .balance_input {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
}

@media screen and (min-width: 481px) {
  .balance_form_wrapper {
    flex-direction: row;
    justify-content: center;
  }

  .balance_form {
    display: flex;
    align-items: center;
  }

  .balance_form_wrapper p {
    margin-right: 21px;
    margin-bottom: 0;
  }

  .balance_input {
    border-radius: 16px;
    margin-right: 15px;
  }

  .balance_button {
    margin-right: 111px;
  }
}

@media screen and (max-width: 1280px) {
  .display_none {
    display: none;
  }
}
