.modalContainer {
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 15;
}

@media screen and (max-width: 480px) {
  .modalContainer {
    top: 50px;
  }
}

.modal {
  width: 282px;
  height: 152px;
  padding: 30px 25px;
  border-radius: 30px;
  display: block;

  color: var(--white);
  background: var(--modalWarningBg);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 292px;
    padding: 30px;
  }
}

.modal::before {
  content: '';
  position: absolute;
  left: 12%;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #1d346a;
}

.upperText {
  margin-bottom: 20px;
}

.lowerText {
  font-size: 12px;
  line-height: 16px;
}
