.containerExpInc {
  display: flex;
  justify-content: center;
  max-width: 282px;
  margin: 0 auto 40px auto;
  padding: 20px 10px;
  background: var(--white);

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: var(--primaryText);
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
}
.containerExp {
  border-right: 1px solid #e0e5eb;
  height: 36px;
  width: 100%;
}
.containerInc {
  height: 36px;
  width: 100%;
}
.text {
  margin-bottom: 5px;
}
.expenses {
  color: var(--error);
}
.incomes {
  color: var(--access);
}
@media screen and (min-width: 768px) {
  .containerExpInc {
    max-width: 100%;
  }
  .containerExp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }
  .containerInc {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }

  .text {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .containerExpInc {
    width: 1060px;
  }
}
