.containerExpInc {
  display: flex;
  justify-content: center;
  max-width: 282px;
  margin: 0 auto 40px auto;
  padding: 20px 10px;
  background: #ffffff;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  /* display: flex;
align-items: center; */
  text-align: center;

  color: #52555f;
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
}
.containerExp {
  /* display: flex; */
  /* position: relative; */
  border-right: 1px solid #e0e5eb;
  height: 36px;
  width: 100%;
}
.containerInc {
  /* position: relative; */
  height: 36px;
  /* height: 50px; */
  width: 100%;
}
.text {
  margin-bottom: 5px;
}
.expenses {
  color: #e53935;
}
.incomes {
  color: #407946;
}
@media screen and (min-width: 768px) {
  .containerExpInc {
    max-width: 100%;
  }
  .containerExp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
  }
  .containerInc {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 15px;
  }
  /* .containerExp:first-child {
    margin-right: 15px;
  }
  .containerExp {
    margin-left: 15px;
  } */
  .text {
    margin-right: 15px;
    margin-bottom: 0;
  }
}
