.report_button {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.text {
  color: #52555fb2;
  margin-right: 15px;
}

@media screen and (min-width: 481px) {
  .report_button {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 768px) {
  .report_button {
    justify-content: center;
    margin-top: 30px;
  }
}
