.report_button {
  text-align: center;
  margin-bottom: 40px;
  color: #52555fb2;
}

@media screen and (min-width: 481px) {
  .report_button {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 480px) {
  .report_button {
    margin-top: 30px;
  }
}
