.balanseContainer {
  /* margin: 0 auto; */
  padding-top: 40px;
  padding-bottom: 48px;
  margin-bottom: 21px;
  background-color: #8ce783;
  outline: brown solid 1px;
}

@media screen and (min-width: 768px) {
  .balanseContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
